/* CSS global para tirar as margens padrão */
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --primary-color: #121820;
    --primary-font: "Montserrat", sans-serif;
}

.headerBusca {
    background-color: #fff;
    padding: 1px 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBusca input {
    border: none;
    padding: 8px 0px 8px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 350px;
    font-size: 15px;
    font-family: var(--primary-font);
}

.headerBusca i {
    font-size: 20px;
    color: var(--primary-color);
    padding: 5px 10px;
    border-left: 1px solid #bbbbbb;
}