/* CSS global para tirar as margens padrão */
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --primary-color: #121820;
    --primary-font: "Montserrat", sans-serif;
}
