*,
html {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #121820;
    --primary-font: "Montserrat", sans-serif;
}

.linhaLogin {
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLogin {
    width: auto;
    height: auto;
    padding: 30px;
}

h2 {
    font-family: var(--primary-font);
    font-size: 30px;
    margin-bottom: 15px;
}

.boxLogin-Title h2 {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxLogin-input {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    margin: 20px 0px;
    align-items: center;
}

.boxLogin-button {
    display: flex;
    justify-content: center;

}

.boxLogin-button input {
    padding: 9px 40px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}

.boxLogin-button input:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
  }


.boxLogin-input input {
    font-family: var(--primary-font);
    width: 250px;
    padding: 0px 10px;
    height: 35px;
    border: none;
    font-size: 14px;
    background-color: #ededed;
}

.inputEmail input {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.inputEmail .fa-user {
    background-color: #ededed;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    font-size: 18px;
    padding: 0px 10px 0px 17px;
    height: 35px;
    color: #121820;
    display: flex;
    align-items: center;
}

.inputSenha {
    max-width: 315.75px;
}

.inputSenha input {
    width: -webkit-fill-available !important;
}

.inputSenha i {
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #ededed;
}


.inputSenha .fa-lock {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    font-size: 18px;
    padding: 0px 10px 0px 17px;
    color: #121820;
}

.inputSenha .fa-eye-slash {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    font-size: 18px;
    padding: 0px 10px 0px 17px;
    color: #121820;
}

.inputSenha .fa-eye {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    font-size: 18px;
    padding: 0px 10px 0px 17px;
    color: #121820;
}
