*, html {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #121820;
    --primary-font: "Montserrat", sans-serif;
}

.linhaLogin {
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLogin {
    width: auto;
    height: auto;
    border: 2px solid #000;
    padding: 30px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.boxLogin-input {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    margin: 20px 10px;
}

.boxLogin-button {
    display: flex;
    justify-content: center;

}

.boxLogin-button input {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    font: var(--primary-font);
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 30px;
}